#todolist .wrapper {
  max-width: 960px;
  margin: 0 auto;
}
#todolist h1 {
  margin: 40px auto;
  color: #ff0aa7;
  text-align: left;
}
#todolist ul {
  padding: 0;
  list-style-type: none;
}
#todolist li h4 {
  color: #ff0aa7;
  margin: 0;
  text-transform: capitalize;
}
#todolist li p {
  color: #333;
  margin: 8px 0 0;
}
#todolist footer {
  background: #eee;
  padding: 60px;
  margin-top: 60px;
}
#todolist form {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}
#todolist label {
  display: block;
  font-weight: bold;
  font-size: 0.8em;
  color: #333;
  margin: 16px 0 6px;
}
#todolist input,
select {
  padding: 6px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}
#todolist .field {
  display: inline-block;
  margin: 0 10px;
}
#todolist button {
  color: white;
  border: 0;
  background: #ff0aa7;
  padding: 6px;
  min-width: 80px;
  border-radius: 4px;
}
#todolist footer a {
  text-align: center;
  display: block;
  color: #999;
  margin-top: 40px;
  font-size: 0.7em;
}
